@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.post-page{
  max-width: 820px;
  margin: 0 auto;
  padding: 44px 28px 80px;
  font-family: var(--font);
}

.back{
  display: inline-block;
  color: #111;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 26px;
}
.back:hover{ text-decoration: underline; }

.post-title{
font-family: "Lora", serif;
  margin: 0 0 10px;
  font-size: 27px;
    font-weight: 100;
  letter-spacing: -0.02em;
}

.post-meta{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 26px;
}
.meta-link{
  color: #6b7280;
  text-decoration: none;
}
.meta-link:hover{ text-decoration: underline; }
.dotsep{ color: #c1c7d0; }

.post-content{
  font-size: 16px;
  line-height: 1.85;
  color: #111;
}

.post-content p{
  margin: 14px 0;
}

.post-content img{
  width: 100%;
  border-radius: 12px;
  margin: 20px 0;
  border: 1px solid #f0f0f0;
}

.post-content h2{
  margin: 40px 0 10px;
  font-size: 22px;
  letter-spacing: -0.01em;
  font-family: "Lora", serif;
  font-weight: 100;
}

.post-content blockquote{
  margin: 18px 0;
  padding: 14px 16px;
  border-left: 3px solid #e5e7eb;
  background: #fafafa;
  color: #374151;
  border-radius: 10px;
}

strong{
    font-weight: 300;
}